<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ac.liverpool.forum.mapper.CommentMapper">

    <select id="listByPostId" resultType="ac.liverpool.forum.entity.Comments">
        SELECT * FROM comments
        WHERE post_id = #{postId} AND parent_id IS NULL
        ORDER BY created_at DESC
    </select>

    <select id="listByParentId" resultType="ac.liverpool.forum.entity.Comments">
        SELECT * FROM comments
        WHERE parent_id = #{parentId}
        ORDER BY created_at ASC  <!-- Sub comments are usually arranged in chronological order -->
    </select>

    <insert id="addComment" parameterType="ac.liverpool.forum.entity.Comments">
        INSERT INTO comments (post_id, parent_id, user_id, content, created_at)
        VALUES (#{postId}, #{parentId}, #{userId}, #{content}, NOW())
    </insert>




</mapper>